.detail {
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    display: flex;
    gap: 12px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.name {
    font-weight: 500;
    padding-bottom: 8px;
}

.price {
    font-weight: bold;
}